@import "variables.css";

.form {
  border-bottom: solid 2px var(--medium-dark);
  padding-bottom: 20px;
}
.form-pers-info,
.edu-exp-field {
  display: flex;
  flex-direction: column;
}

input {
  height: 20px;
  padding: 0 5px;
  border: none;
  border-radius: 5px;
  margin: 2px 0;
  background-color: rgba(255, 255, 255, 0.692);
}

button {
  width: 70px;
  height: 20px;
  margin: 10px 0;
  border: 0px;
  border-radius: 0;
  background-color: var(--medium-dark);
  color: var(--light);
}

button.submit,
button.edit {
  width: 100px;
  display: block;
  font-weight: bold;
  margin: auto;
}
